
            img{ padding-left: 600px}
    
            li{
                display: inline-block;
                padding-left:260px;
            }
            
            h4 {padding-left: 260px;
                color: black;
            } 
/* /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 60%;
    padding: 5px;
    
    
  }
  Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    
    display: table;
  } 
                .vertical {
                    border-left: 2px solid rgb(18, 18, 219);
                    height: 150px;
                    position:absolute;
                    left: 50%;
                }

             
         tr{padding-left: 260px;
            color: rgb(107, 89, 16);

         }
           
        
            
            footer{padding-bottom: 10px;
                text-align: center;
            }
            
            